.gameplay-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.gameplay-top-container {
  position: relative;
  height: 30%;
  width: 100%;
  background-image: url("../../images/scene/gameplay/top_container/top_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gameplay-top-foreground-container {
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
}

.gameplay-top-foreground-extend {
  position: absolute;
  width: 100%;
  height: 16.5%;
  bottom: 0;
  background-image: url("../../images/scene/gameplay/top_container/top_foreground_extend.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: top;
}

.gameplay-top-foreground-main {
  position: absolute;
  aspect-ratio: 1282 / 291;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../images/scene/gameplay/top_container/top_foreground.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gameplay-main-container {
  height: 70%;
  display: flex;
  width: 100%;
}

.gameplay-main-left-container {
  position: relative;
  width: 10%;
}

.gameplay-main-left-foreground {
  position: absolute;
  aspect-ratio: 128 / 323;
  width: 77.1%;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("../../images/scene/gameplay/left_container/left_foreground.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gameplay-main-right-container {
  position: relative;
  width: 10%;
}

.gameplay-main-right-foreground {
  position: absolute;
  aspect-ratio: 121 / 674;
  width: 72.9%;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("../../images/scene/gameplay/right_container/right_foreground.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gameplay-main-middle-container {
  position: relative;
  flex: 1;
  background-color: blue;
}
