.gameplay-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.gameplay-top-container {
  position: relative;
  height: 30%;
  width: 100%;
  background-image: url("../../images/scene/gameplay/top_container/top_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gameplay-top-foreground-container {
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
}

.gameplay-top-container-mobile {
  padding-top: 50px;
  flex: 1;
  display: none;
}

.gameplay-top-container-footer-mobile {
  position: relative;
  width: 100%;
  height: 36px;
}

.gameplay-top-foreground-extend {
  position: absolute;
  width: 100%;
  height: 16.5%;
  bottom: 0;
  background-image: url("../../images/scene/gameplay/top_container/top_foreground_extend.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: top;
}

.gameplay-top-foreground-main {
  position: absolute;
  aspect-ratio: 1282 / 291;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../images/scene/gameplay/top_container/top_foreground.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gameplay-top-player-info-container {
  position: absolute;
  width: auto;
  height: 63%;
  aspect-ratio: 580 / 118;
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
}

.gameplay-top-player-info-avatar-image {
  position: absolute;
  width: auto;
  height: 85%;
  aspect-ratio: 1;
  left: 10%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.gameplay-top-tab-buttons-container {
  position: absolute;
  width: auto;
  height: 15%;
  aspect-ratio: 21 / 1;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

.gameplay-main-container {
  height: 65.6%;
  display: flex;
  width: 100%;
}

.gameplay-main-left-container {
  position: relative;
  width: 10%;
}

.gameplay-main-left-foreground {
  position: absolute;
  aspect-ratio: 128 / 323;
  width: 77.1%;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("../../images/scene/gameplay/left_container/left_foreground.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gameplay-main-right-container {
  position: relative;
  width: 10%;
}

.gameplay-main-right-foreground {
  position: absolute;
  aspect-ratio: 121 / 674;
  width: 72.9%;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("../../images/scene/gameplay/right_container/right_foreground.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gameplay-main-middle-container {
  position: relative;
  flex: 1;
  background-color: #1c1f24;
}

.gameplay-bottom-container {
  height: 4.4%;
  width: 100%;
  background-image: url("../../images/scene/gameplay/floor_extend.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: top;
}

@media (max-width: 768px) {
  .gameplay-top-container {
    position: fixed;
    height: 182px;
    left: 0;
    top: 0;
    display: flex;
  }

  .gameplay-bottom-container {
    position: fixed;
    height: 100px;
    left: 0;
    bottom: 0;
  }

  .gameplay-main-container {
    position: fixed;
    top: 182px;
    bottom: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .gameplay-top-foreground-container {
    display: none;
  }

  .gameplay-main-left-container {
    width: 0;
  }

  .gameplay-main-right-container {
    width: 0;
  }
  
  .gameplay-main-middle-container {
    flex: 1;
  }

  .gameplay-top-container-mobile {
    display: flex;
    flex-direction: column;
  }

  .gameplay-top-container-content-mobile {
    flex: 1;
  }
}
