.welcome-page-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

.welcome-page-background {
  position: absolute;
  width: auto;
  height: calc(max(100%, 100vw * 700 / 1280));
  aspect-ratio: 1280 / 700;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url("../../images/scene/welcome_page/welcome_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  user-select: none;
}

.welcome-page-panel-connect-wallet-button {
  position: absolute;
  top: 96.5%;
  left: 50%;
  width: auto;
  height: 5%;
  aspect-ratio: 250 / 45;
  transform: translate(-50%, -50%);
}

.welcome-page-panel-play-button {
  position: absolute;
  top: 96.5%;
  left: 50%;
  width: auto;
  height: 5%;
  aspect-ratio: 152 / 45;
  transform: translate(-50%, -50%);
}
