.nugget-container {
  position: relative;
}

.nugget-margin-container {
  position: absolute;
  width: 95%;
  height: calc(95% - 9.5px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../images/scene/gameplay/nugget/nugget_bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nugget-avatar-image {
  position: absolute;
  width: auto;
  height: 38%;
  aspect-ratio: 88 / 79;
  left: 12%;
  top: 43%;
  transform: translate(-50%, -50%);
}

.nugget-title-text,
.nugget-price-text,
.nugget-bid-text,
.nugget-ask-text,
.nugget-price-value-text,
.nugget-bid-value-text,
.nugget-ask-value-text,
.nugget-attributes-text {
  margin: 0px;
  color: white;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
}

.nugget-title-text {
  font-weight: bold;
  position: absolute;
  width: 40%;
  height: 20%;
  left: 23%;
  top: 12%;
  transform: translate(-50%, -50%);
}

.nugget-price-text {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 39%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.nugget-bid-text {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 39%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.nugget-ask-text {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 39%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.nugget-price-value-text {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 60%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.nugget-bid-value-text {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 60%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.nugget-ask-value-text {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 60%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.nugget-attributes-text {
  position: absolute;
  text-align: center;
  width: 3%;
  height: 15%;
  left: 50%;
  top: 84%;
  transform: translate(0, -50%);
}

.nugget-more-button {
  position: absolute;
  width: 15%;
  height: 18%;
  left: 88.2%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.nugget-levels-container {
  position: absolute;
  width: 0;
  height: 12%;
  left: 45%;
  top: 9%;
  transform: translate(-50%, -50%);
  display: flex;
}

.nugget-level-container {
  position: relative;
  width: auto;
  height: 90%;
  aspect-ratio: 1;
}

.nugget-tag-container {
  position: absolute;
  width: auto;
  height: 16%;
  aspect-ratio: 92/26;
  left: 86.5%;
  top: 5%;
  transform: translate(-50%, -50%);
}

.nugget-tag-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.nugget-tag-text {
  position: absolute;
  width: 90%;
  height: 70%;
  left: 46%;
  top: 43%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0px;
  color: white;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
}


@media (max-width: 768px) {
  .nugget-container {
    aspect-ratio: 350 / 136;
  }
}