.player-info-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.player-info-player-id-text,
.player-info-player-id-value-text,
.player-info-coin-text {
  margin: 0px;
  color: white;
  font-weight: bold;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
}

.player-info-player-id-text {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 10%;
  top: 17%;
  transform: translate(-50%, -50%);
}

.player-info-player-id-value-text {
  position: absolute;
  width: 30%;
  height: 10%;
  left: 30%;
  top: 17%;
  transform: translate(-50%, -50%);
}

.player-info-coin-text {
  position: absolute;
  width: 20%;
  height: 10%;
  left: 66%;
  top: 17%;
  transform: translate(-50%, -50%);
}

.player-info-coin-image {
  position: absolute;
  width: auto;
  height: 12%;
  aspect-ratio: 1;
  left: 53%;
  top: 17%;
  transform: translate(-50%, -50%);
  background-image: url("../../../images/scene/gameplay/top_container/coin.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.player-info-treasure-container {
  position: absolute;
  width: 20%;
  aspect-ratio: 14 / 7;
  left: 27%;
  top: 58.5%;
  transform: translate(-50%, -50%);
}

.player-info-cash-container {
  position: absolute;
  width: 20%;
  aspect-ratio: 14 / 7;
  left: 47.5%;
  top: 58.5%;
  transform: translate(-50%, -50%);
}

.player-info-available-container {
  position: absolute;
  width: 20%;
  aspect-ratio: 14 / 7;
  left: 68%;
  top: 58.5%;
  transform: translate(-50%, -50%);
}

.player-info-deposit-button,
.player-info-withdraw-button,
.player-info-pick-nugget-button {
  position: absolute;
  width: 13%;
  height: 18%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.player-info-deposit-button {
  top: 39%;
}

.player-info-withdraw-button {
  top: 58%;
}

.player-info-pick-nugget-button {
  top: 77%;
}

.player-info-rank-button {
  position: absolute;
  height: 15%;
  width: auto;
  aspect-ratio: 61 / 30;
  left: 86.7%;
  top: 21%;
  transform: translate(-50%, -50%);
}

.player-info-earning-button {
  position: absolute;
  height: 15%;
  width: auto;
  aspect-ratio: 61 / 30;
  left: 93.3%;
  top: 21%;
  transform: translate(-50%, -50%);
}

.player-info-pick-nugget-coin-text {
  position: absolute;
  width: 20%;
  height: 35%;
  left: 80%;
  top: 51%;
  transform: translate(-50%, -50%);
  margin: 0px;
  color: white;
  font-weight: bold;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
}

.player-info-pick-nugget-coin-image {
  position: absolute;
  width: auto;
  height: 35%;
  aspect-ratio: 1;
  left: 63%;
  top: 51%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
  background-image: url("../../../images/scene/gameplay/top_container/coin.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
