.player-info-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.player-info-player-id-text,
.player-info-player-id-value-text,
.player-info-coin-text {
  margin: 0px;
  color: white;
  font-weight: bold;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
}

.player-info-player-id-text {
  position: absolute;
  width: 40%;
  height: 20%;
  left: 45%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.player-info-player-id-value-text {
  position: absolute;
  width: 40%;
  height: 20%;
  left: 60%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.player-info-coin-text {
  position: absolute;
  width: 40%;
  height: 20%;
  left: 49%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.player-info-coin-image {
  position: absolute;
  width: auto;
  height: 17%;
  aspect-ratio: 1;
  left: 26%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-image: url("../../../images/scene/gameplay/top_container/coin.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.player-info-treasure-container {
  position: absolute;
  width: 22%;
  height: 16%;
  left: 35%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.player-info-cash-container {
  position: absolute;
  width: 22%;
  height: 16%;
  left: 58%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.player-info-available-container {
  position: absolute;
  width: 22%;
  height: 16%;
  left: 81%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.player-info-deposit-button,
.player-info-withdraw-button,
.player-info-pick-nugget-button {
  position: absolute;
  width: 15%;
  height: 16%;
  left: 89%;
  transform: translate(-50%, -50%);
}

.player-info-deposit-button {
  top: 18.5%;
}

.player-info-withdraw-button {
  top: 34.5%;
}

.player-info-pick-nugget-button {
  top: 50.5%;
}

.player-info-rank-button {
  position: absolute;
  height: 20%;
  width: auto;
  aspect-ratio: 24 / 23;
  left: 72%;
  top: 24%;
  transform: translate(-50%, -50%);
}

.player-info-earning-button {
  position: absolute;
  height: 20%;
  width: auto;
  aspect-ratio: 24 / 23;
  left: 72%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.player-info-pick-nugget-coin-text {
  position: absolute;
  width: 20%;
  height: 45%;
  left: 83%;
  top: 45%;
  transform: translate(-50%, -50%);
  margin: 0px;
  color: white;
  font-weight: bold;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
}

.player-info-pick-nugget-coin-image {
  position: absolute;
  width: auto;
  height: 35%;
  aspect-ratio: 1;
  left: 66%;
  top: 53%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
  background-image: url("../../../images/scene/gameplay/top_container/coin.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
