.rank-element-container {
  position: relative;
}

.rank-element-margin-container {
  position: absolute;
  width: 95%;
  height: calc(95% - 9.5px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #444c61;
  border-radius: 1dvh;
}

.rank-element-rank-image {
  position: absolute;
  width: auto;
  height: 125%;
  aspect-ratio: 55 / 45;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rank-element-avatar-image {
  position: absolute;
  width: auto;
  height: 80%;
  aspect-ratio: 88 / 79;
  left: 19%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rank-element-attributes-text {
  position: absolute;
  width: 50%;
  height: 80%;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.rank-element-attributes-text,
.rank-element-rank-text,
.rank-element-coin-text,
.rank-element-bidder-value-text,
.rank-element-bidder-text {
  margin: 0px;
  color: white;
  font-weight: bold;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
}

.rank-element-rank-text {
  position: absolute;
  width: 20%;
  height: 80%;
  left: 12.6%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rank-element-bidder-text {
  position: absolute;
  width: 20%;
  height: 80%;
  left: 22%;
  top: 65%;
  transform: translate(-50%, -50%);
}

.rank-element-bidder-value-text {
  position: absolute;
  width: 20%;
  height: 80%;
  left: 37%;
  top: 65%;
  transform: translate(-50%, -50%);
}

.rank-element-coin-text {
  position: absolute;
  width: 20%;
  height: 80%;
  left: 89%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.rank-element-coin-image {
  position: absolute;
  width: auto;
  height: 50%;
  aspect-ratio: 1;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../images/scene/gameplay/top_container/coin.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
