
@media (min-width: 769px) {
  .tab-buttons-inventory-button,
  .tab-buttons-selling-button,
  .tab-buttons-auction-button,
  .tab-buttons-lot-button {
    position: absolute;
    width: 18%;
    height: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .tab-buttons-inventory-button {
    left: 11%;
  }

  .tab-buttons-selling-button {
    left: 32%;
  }

  .tab-buttons-auction-button {
    left: 53%;
  }

  .tab-buttons-lot-button {
    left: 74%;
  }
}


@media (max-width: 768px) {
  .tab-buttons-inventory-button{
    position: relative;
    width: 30%;
  }
  .tab-buttons-selling-button,
  .tab-buttons-auction-button {
    position: relative;
    width: 25%;
  }
  .tab-buttons-lot-button {
    position: relative;
    width: 20%;
  }
}