.tab-buttons-inventory-button,
.tab-buttons-market-button,
.tab-buttons-bid-button {
  position: absolute;
  width: 18%;
  height: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tab-buttons-inventory-button {
  left: 11%;
}

.tab-buttons-market-button {
  left: 32%;
}

.tab-buttons-bid-button {
  left: 53%;
}
