.base-nugget-info-popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.base-nugget-info-popup-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  user-select: none;
}

.base-nugget-info-popup-main-container {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: auto;
  height: 30%;
  aspect-ratio: 726 / 273;
}

@media (max-width: 768px) {
  .base-nugget-info-popup-container {
    overflow: hidden;
  }
  .base-nugget-info-popup-main-container {
    width: calc(100% - 24px);
    height: auto;
  }
}

.base-nugget-info-popup-main-background {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
}

.base-nugget-info-popup-close-button {
  position: absolute;
  top: 3%;
  left: 93%;
  height: 15%;
  width: auto;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-avatar-image {
  position: absolute;
  width: auto;
  height: 36%;
  aspect-ratio: 88 / 79;
  left: 12.2%;
  top: 27%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-title-text,
.base-nugget-info-popup-price-text,
.base-nugget-info-popup-price-value-text,
.base-nugget-info-popup-bid-text,
.base-nugget-info-popup-bid-value-text,
.base-nugget-info-popup-ask-text,
.base-nugget-info-popup-ask-value-text,
.base-nugget-info-popup-attributes-text,
.base-nugget-info-popup-bidder-text {
  margin: 0px;
  color: white;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
}

.base-nugget-info-popup-bidder-text {
  position: absolute;
  width: 30%;
  height: 20%;
  left: 5%;
  top: 73%;
  text-align: left;
  margin: 0px;
  color: white;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
  display: flex;
  align-items: center;
}

.base-nugget-info-popup-title-text {
  font-weight: bold;
  position: absolute;
  width: 40%;
  height: 20%;
  left: 42%;
  top: 17%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-price-text {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 72%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-price-value-text {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 90%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-bid-text {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 72%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-bid-value-text {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 90%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-ask-text {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 72%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-ask-value-text {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 90%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-attributes-text {
  position: absolute;
  text-align: center;
  width: 3%;
  height: 15%;
  left: 50%;
  top: 62%;
  transform: translate(0, -50%);
}

.bid-nugget-info-popup-bidder-text {
  position: absolute;
  text-align: left;
  width: 90%;
  height: 8%;
  left: 5%;
  top: 84%;
  transform: translate(0, -50%);
}

.base-nugget-info-popup-levels-container {
  position: absolute;
  width: 0;
  height: 12%;
  left: 21.5%;
  top: 27%;
  transform: translate(-50%, -50%);
  display: flex;
}

.base-nugget-info-popup-level-container {
  position: relative;
  width: auto;
  height: 90%;
  aspect-ratio: 1;
}

.base-nugget-info-popup-bid-button {
  position: absolute;
  width: 25%;
  height: 18%;
  left: 83%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-tag-container {
  position: absolute;
  width: auto;
  height: 15%;
  aspect-ratio: 92/26;
  left: 79%;
  top: 3.7%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-tag-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.base-nugget-info-popup-tag-text {
  position: absolute;
  width: 90%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0px;
  color: white;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
}

.base-nugget-info-popup-settle-text {
  position: absolute;
  width: 25%;
  height: 18%;
  left: 55%;
  top: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0px;
  color: white;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
}

.base-nugget-info-popup-list-button {
  position: absolute;
  width: 25%;
  height: 18%;
  left: 83%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-recycle-button {
  position: absolute;
  width: 25%;
  height: 18%;
  left: 55%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-explore-button {
  position: absolute;
  width: 25%;
  height: 18%;
  left: 27%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-coin-text {
  position: absolute;
  width: 20%;
  height: 45%;
  left: 83%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  color: white;
  font-weight: bold;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
}

.base-nugget-info-popup-coin-image {
  position: absolute;
  width: auto;
  height: 45%;
  aspect-ratio: 1;
  left: 63%;
  top: 53%;
  transform: translate(-50%, -50%);
  background-image: url("../../images/scene/gameplay/top_container/coin.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  user-select: none;
}

.base-nugget-info-popup-sell-button {
  position: absolute;
  width: 25%;
  height: 18%;
  left: 83%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.base-nugget-info-popup-settle-button {
  position: absolute;
  width: 25%;
  height: 18%;
  left: 55%;
  top: 85%;
  transform: translate(-50%, -50%);
}
