.confirm-popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.confirm-popup-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  user-select: none;
}

.confirm-popup-main-container {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: auto;
  height: 30%;
  aspect-ratio: 5 / 3;
}

.confirm-popup-main-background {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
}

.confirm-popup-close-button {
  position: absolute;
  top: 3%;
  left: 87%;
  height: 15%;
  width: auto;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%);
}

.confirm-popup-title-text {
  margin: 0px;
  color: white;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 80%;
  height: 10%;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}

.confirm-popup-description-text {
  margin: 0px;
  color: white;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
  position: absolute;
  text-align: center;
  width: 80%;
  height: 65%;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
}
