.price-input-popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.price-input-popup-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  user-select: none;
}

.price-input-popup-main-container {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: auto;
  height: 30%;
  aspect-ratio: 5 / 3;
}

.price-input-popup-main-background {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
}

.price-input-popup-close-button {
  position: absolute;
  top: 3%;
  left: 87%;
  height: 15%;
  width: auto;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%);
}

.price-input-popup-confirm-button {
  position: absolute;
  top: 82%;
  left: 50%;
  height: 15%;
  width: auto;
  aspect-ratio: 5 / 2;
  transform: translate(-50%, -50%);
}

.price-input-popup-title-text {
  margin: 0px;
  color: white;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 40%;
  height: 20%;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.price-input-popup-amount-input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  aspect-ratio: 5 / 1;
  transform: translate(-50%, -50%);
  user-select: none;
}

.price-input-popup-amount-input {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  color: white;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  user-select: none;
}

.price-input-popup-explore-button {
  position: absolute;
  top: 82%;
  left: 50%;
  height: 15%;
  width: auto;
  aspect-ratio: 8 / 2;
  transform: translate(-50%, -50%);
}

.price-input-popup-coin-text {
  position: absolute;
  width: 30%;
  height: 45%;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  color: white;
  font-weight: bold;
  font-family: "AdobeClean";
  pointer-events: none;
  user-select: none;
  line-height: 1;
}

.price-input-popup-coin-image {
  position: absolute;
  width: auto;
  height: 45%;
  aspect-ratio: 1;
  left: 55%;
  top: 53%;
  transform: translate(-50%, -50%);
  background-image: url("../../images/scene/gameplay/top_container/coin.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  user-select: none;
}

.price-input-popup-amount-input::placeholder {
  color: white;
  opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
